# OpenAI Configuration
OPENAI_API_KEY=openai-api-key
OPENAI_MODEL=gpt-4o-mini

# Example of database configuration
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://user:password@postgres:5432/db
REDIS_URL=redis://redis:6379

# Application Configuration
ENVIRONMENT=development
